/* Table container should have overflow set */
.oltew-order-list-table {
    overflow-x: auto; /* Enables horizontal scrolling if the table is wider than its container */
    margin-bottom: 20px; /* Adds some space below the table */
}

tr.is-selected {
    background-color: #A9CDCD!important;
    transition: background-color 0.3s ease;
}

/* Table styling */
.oltew-order-list-table table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    white-space: nowrap; /* Prevents text from wrapping to ensure the table overflows if it's too wide */
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.oltew-order-list-table th, .oltew-order-list-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.oltew-order-list-table th {
    background-color: #064c4c;
    color: #fff;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    text-align: right;
}

.oltew-order-list-table td {
    font-size: 14px;
    text-align: right;
}

.oltew-order-list-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.oltew-order-list-table tr:hover {
    background-color: #f1f1f1;
}

/* Pagination styling */
.oltew-pagination {
    margin-top: 20px;
    text-align: center;
}

.oltew-pagination .page-numbers {
    display: inline-block;
    margin: 0 5px;
    padding: 8px 16px;
    background-color: #f4f4f4;
    color: #333;
    border-radius: 3px;
    text-decoration: none;
}

.oltew-pagination .page-numbers.current {
    background-color: #0073aa;
    color: #fff;
}

.oltew-pagination .page-numbers:hover {
    background-color: #0073aa;
    color: #fff;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.print-invoice-btn {
    background-color: #004C4C; /* Dark Teal background */
    color: white; /* White text */
    font-size: 14px; /* Larger font size */
    font-weight: bold; /* Bold text */
    border: none; /* No border */
    border-radius: 8px; /* Rounded corners */
    padding: 6px 15px; /* Padding for better spacing */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition effect */
}

.print-invoice-btn:hover {
    background-color: #006666; /* Lighter teal on hover */
    transform: scale(1.05); /* Slight zoom effect on hover */
}

.print-invoice-btn:active {
    background-color: #003333; /* Darker teal when clicked */
    transform: scale(1); /* Reset zoom on click */
}

.print-invoice-btn:focus {
    outline: 2px solid #004C4C; /* Focus outline for accessibility */
    outline-offset: 2px; /* Slight space between outline and button */
}
